.btn_counter[disabled] {
  background: #888;
}

.btn_counter[disabled]:hover {
  cursor: not-allowed;
}

.div_words {
  display: block;
  background: #eee;
  padding: 1em;
  width: 100%;
  overflow: auto;
  color: #000;
  height: 300px;
  box-sizing: border-box
}