.btn_counter[disabled] {
  background: #888;
}

.btn_counter[disabled]:hover {
  cursor: not-allowed;
}

.div_words {
  display: block;
  background: #f7f7f7;
  padding: 1em;
  width: 100%;
  overflow: auto;
  color: #000;
  height: 300px;
  box-sizing: border-box
}
.number {
  color:#d14;
}
ul,
ol {
  font-size: 1.125rem;
  line-height: 1.77778;
  padding-left: 32px;
  margin-bottom: 16px;
  color: #555555
}
ul a,
ol a {
  color: #3863d9;
}
ul code,

ol code {
  display: inline-block;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 4px;
  font-size: 14px
}